<div class="px-4 py-3 sm:px-6 border rounded-md">
    <div class="flow-root">
        <ul role="list" class="-mb-8">

            <li>
                <div class="relative pb-8">
                    <span class="absolute left-3 top-3 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">

                        <div>
                            <span class="h-6 w-6 rounded-full bg-white flex items-center justify-center skeleton">
                                
                            </span>
                        </div>

                        <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1">
                            <div>
                                <p class="text-xs font-medium text-gray-500 w-36 h-5 skeleton"></p>
                                <p class="text-xs text-gray-500"></p>
                            </div>
                            <div class="whitespace-nowrap text-right text-xs text-gray-500">
                                <p class="text-xs font-medium text-gray-500 w-24 h-5 skeleton"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="relative pb-8">
                    <span class="absolute left-3 top-3 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">

                        <div>
                            <span class="h-6 w-6 rounded-full bg-white flex items-center justify-center skeleton">
                                
                            </span>
                        </div>

                        <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1">
                            <div>
                                <p class="text-xs font-medium text-gray-500 w-36 h-5 skeleton"></p>
                                <p class="text-xs text-gray-500"></p>
                            </div>
                            <div class="whitespace-nowrap text-right text-xs text-gray-500">
                                <p class="text-xs font-medium text-gray-500 w-24 h-5 skeleton"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="relative pb-8">
                    <span class="absolute left-3 top-3 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">

                        <div>
                            <span class="h-6 w-6 rounded-full bg-white flex items-center justify-center skeleton">
                                
                            </span>
                        </div>

                        <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1">
                            <div>
                                <p class="text-xs font-medium text-gray-500 w-36 h-5 skeleton"></p>
                                <p class="text-xs text-gray-500"></p>
                            </div>
                            <div class="whitespace-nowrap text-right text-xs text-gray-500">
                                <p class="text-xs font-medium text-gray-500 w-24 h-5 skeleton"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="relative pb-8">
                    <div class="relative flex space-x-3">

                        <div>
                            <span class="h-6 w-6 rounded-full bg-white flex items-center justify-center skeleton">
                                
                            </span>
                        </div>

                        <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1">
                            <div>
                                <p class="text-xs font-medium text-gray-500 w-36 h-5 skeleton"></p>
                                <p class="text-xs text-gray-500"></p>
                            </div>
                            <div class="whitespace-nowrap text-right text-xs text-gray-500">
                                <p class="text-xs font-medium text-gray-500 w-24 h-5 skeleton"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>