<div class="flex flex-col gap-2 text-xs">
        <div class="flex flex-col gap-2">
            <span class="w-24 h-4 skeleton"></span>
            <div class="grid grid-cols-2 gap-3 border rounded-md p-4">
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <span class="w-24 h-4 skeleton"></span>
            <div class="grid grid-cols-2 gap-3 border rounded-md p-4">
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <span class="w-24 h-4 skeleton"></span>
            <div class="grid grid-cols-2 gap-3 border rounded-md p-4">
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <span class="w-24 h-4 skeleton"></span>
            <div class="grid grid-cols-2 gap-3 border rounded-md p-4">
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="w-16 h-4 skeleton"></span>
                        <span class="w-28 h-4 skeleton"></span>
                    </div>
            </div>
        </div>
</div>
