{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div
            class="error-message-div w-full rounded-md flex items-start bg-red-100 text-sm p-4 gap-3 text-red-600">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
            </div>
            <div class="text-gray-300">
                <span>{{ error|escape }}</span>
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div
            class="error-message-div w-full rounded-md flex items-start bg-red-100 text-sm p-4 gap-3 text-red-600">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
            </div>
            <div>
                <span>{{ error|escape }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}