{% extends "base/account_base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block extrastyle %}
<style>
	main {
		background: url("{% static 'images/pattern.png' %}") no-repeat right;
		background-size: cover;
	}
</style>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <!--  If user is already loged in  -->
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <main class="h-screen w-screen bg-gray-900">
        <section class="bg-white flex flex-col p-10 gap-6 h-screen sm:w-screen lg:w-1/2 xl:w-2/5 justify-center">
            <div class="logo-image">
                <img src="{% static 'images/logo.svg' %}" class="h-12" alt="GLIB Logo">
            </div>
            <div class="heading-text flex flex-col gap-3">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-green-400">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>                      
                </span>
                <span class="text-3xl font-bold">Email Sent!</span>
                <p class="text-sm text-gray-500">Awesome, we've sent an email to <span class="font-medium text-black">{{ email }}</span> with password reset instructions.</p>
            </div>
            <div class="submit-btn flex flex-col gap-3">
                <a href="{% url 'account_login' %}" class="flex items-center gap-2 text-gray-500 hover:text-gray-600 w-full p-3 font-medium rounded-md">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                          </svg>                          
                    </span>
                    <span>Back to Login</span>
                </a>
            </div>
        </section>
    </main>

{% endblock %}
