{% extends "base/account_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block extrastyle %}
<style>
	main {
		background: url("{% static 'images/pattern.png' %}") no-repeat right;
		background-size: cover;
	}
</style>
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <main class="h-screen w-screen bg-gray-900">
        <section class="bg-white flex flex-col p-10 gap-6 h-screen sm:w-screen lg:w-1/2 xl:w-2/5 justify-center">
            <div class="logo-image">
                <img src="{% static 'images/logo.svg' %}" class="h-12" alt="GLIB Logo">
            </div>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset flex flex-col gap-6">
                {% csrf_token %}
                <div class="heading-text flex flex-col gap-1">
                    <span class="text-3xl font-bold">Forgot your password?</span>
                    <p class="text-sm text-gray-500">No worries, we'll send you instructions to reset your password on your registered email.</p>
                </div>
                <div class="form flex flex-col gap-3">
                    <span class="flex flex-col gap-1">
                        <label for="email" class="font-medium text-sm">Email</label>
                        {% render_field form.email class+="border bg-gray-100 p-3 outline-none rounded-md" placeholder="" %}
                    </span>
                </div>
                <div class="submit-btn flex flex-col gap-3">
                    <button type="submit" class="text-center hover:bg-blue-800 bg-blue-700 w-full p-3 text-white font-medium rounded-md">Reset Password</button>
                    <a href="{% url 'account_login' %}" class="flex items-center justify-center gap-2 text-gray-500 hover:text-gray-600 w-full p-3 font-medium rounded-md">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                            </svg>                        
                        </span>
                        <span>Back to Login</span>
                    </a>
                </div>
            </form>
            {% include 'account/account_errors.html' %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </section>
    </main>
{% endblock %}
