{% extends "base/account_base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<style>
	main {
		background: url("{% static 'images/pattern.png' %}") no-repeat right;
		background-size: cover;
	}
</style>
{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if token_fail %}
        <main class="h-screen w-screen bg-gray-900">
            <section class="bg-white flex flex-col p-10 gap-6 h-screen sm:w-screen lg:w-1/2 xl:w-2/5 justify-center">
                <div class="logo-image">
                    <img src="{% static 'images/logo.svg' %}" class="h-12" alt="GLIB Logo">
                </div>
                <div class="heading-text flex flex-col gap-3">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                        </svg>                                                                 
                    </span>
                    <span class="text-3xl font-bold">Bad Token</span>
                    <p class="text-sm text-gray-500">The password reset link was invalid, possibly because it has already been used.</p>
        
                </div>
                <div class="submit-btn flex flex-col gap-3 justify-center items-center">
                    <div class="submit-btn flex flex-col gap-3 w-full">
                        <a href="{% url 'account_reset_password' %}" class="text-center hover:bg-blue-700 hover:text-white bg-white text-blue-700 w-full p-3 border border-blue-700 font-medium rounded-md">Request Password Reset</a>
                    </div>
                    <div>
                        <a href="{% url 'account_login' %}" class="flex items-center gap-2 text-gray-500 hover:text-gray-600 w-full p-3 font-medium rounded-md">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                                </svg>                          
                            </span>
                            <span>Back to Login</span>
                        </a>
                    </div>
                </div>
                {% include 'account/account_errors.html' %}
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </section>
        </main>
    {% else %}
        {% if form %}
            <main class="h-screen w-screen bg-gray-900">
                <section class="bg-white flex flex-col p-10 gap-6 h-screen sm:w-screen lg:w-1/2 xl:w-2/5 justify-center">
                    <div class="logo-image">
                        <img src="{% static 'images/logo.svg' %}" class="h-12" alt="GLIB Logo">
                    </div>
                    <form method="POST" action="{{ action_url }}" class="flex flex-col gap-6">
                        {% csrf_token %}
                        <div class="heading-text flex flex-col gap-1">
                            <span class="text-3xl font-bold">Set your new password.</span>
                            <p class="text-sm text-gray-500">Please set your new password. Make sure it's atleast 8 characters.</p>
                        </div>
                        <div class="form flex flex-col gap-3">
                            <span class="flex flex-col gap-1">
                                <label for="password" class="font-medium text-sm">New Password</label>
                                {% render_field form.password1 class+="border bg-gray-100 p-3 outline-none rounded-md" placeholder="" %}
                            </span>
                            <span class="flex flex-col gap-1">
                                <label for="password" class="font-medium text-sm">Confirm New Password</label>
                                {% render_field form.password2 class+="border bg-gray-100 p-3 outline-none rounded-md" placeholder="" %}
                            </span>
                        </div>
                        <div class="submit-btn flex flex-col gap-3">
                            <button type="submit" class="text-center hover:bg-blue-800 bg-blue-700 w-full p-3 text-white font-medium rounded-md">Reset Password</a>
                        </div>
                    </form>
                    {% include 'account/account_errors.html' %}
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                </section>
            </main>
        {% else %}
            <main class="h-screen w-screen bg-gray-900">
                <section class="bg-white flex flex-col p-10 gap-6 h-screen sm:w-screen lg:w-1/2 xl:w-2/5 justify-center">
                    <div class="logo-image">
                        <img src="{% static 'images/logo.svg' %}" class="h-12" alt="GLIB Logo">
                    </div>
                    <div class="heading-text flex flex-col gap-3">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-green-400">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>                      
                        </span>
                        <span class="text-3xl font-bold">Password Changed</span>
                        <p class="text-sm text-gray-500">Awesome, your password has been changed successfully!</p>
                    </div>
                    <div class="submit-btn flex flex-col gap-3">
                        <a href="{% url 'account_login' %}" class="flex items-center gap-2 text-gray-500 hover:text-gray-600 w-full p-3 font-medium rounded-md">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                                </svg>                          
                            </span>
                            <span>Back to Login</span>
                        </a>
                    </div>
                    {% include 'account/account_errors.html' %}
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                </section>
            </main>
        {% endif %}
    {% endif %}
{% endblock %}
