{% load htmlfilter %}
<div class="flex items-center">
{% if record.username != request.user.username %}
    {% if request.user.is_superuser or request.user|has_group:"admin" %}
        {% if not record.is_superuser %}
                <button class="p-2 rounded-full text-gray-700 hover:bg-gray-100 open-user-role-modal" id="user_role_modal_{{ record.id }}"
                    attr-id="{{ record.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 pointer-events-none">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                    </svg>                      
                </button>
        {% endif %}
    {% endif %}
{% endif %}

{% if request.user.is_superuser %}
    <a href="{% url 'audittrail:user_site_history' record.id %}" class="block p-2 rounded-full text-gray-700 hover:bg-gray-100">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>          
    </a>
{% endif %}
</div>